@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Overall style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body {
    background-color: #0A192F;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 50px;
}


/* Style for container__nav */
.container__nav {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
}

form {
    position: absolute;
	left: 50%;
	transform: translateX(-50%);
    background-color: #CBD5F5;
    height: 45px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: medium;
    color: #111013;
}

::placeholder {
    color: #111013;
}

form div button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #58629b;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

form div button img {
    width: 13px;
 }

.container__nav-menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
}

.container__nav-menu button {
    border: none;
    background: none;
    padding: 0;
}

.container__nav-menu img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.container__nav-logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__nav-logo img {
    width: 40px;
    height: 40px;
}

.container__nav-resume a {
    text-decoration: none;
}

.container__nav-resume button {
    background-color: #CBD5F5;
    border: 1px solid #CBD5F5;
    height: 45px;
    cursor: pointer;
    border-radius: 60px;
    padding: 10px 20px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__nav-resume button:hover{
    background-color: #0A192F;
    color: #64FDDA;
}

/* Style for posts-container */
.posts-container {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

/* Style for separator */
.separator {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    background-color: #cbd5f53d;
    height: 0.1px;
    border: none;
    cursor: none;
}


/* Style for smaller devices */

@media screen and (max-width: 1150px) {

    .container__nav-resume {
        display: none;
    }

    form {
        width: 50%;
        left: auto;
        transform: none;
        right: 50px;
    }
}

@media screen and (max-width: 550px) {
    form {
        width: 65%;
    }

    .container__nav-logo {
       display: none;
    }

    .container__nav {
        column-gap: 10px;
        justify-content: start;
    }

    .container__nav-menu {
        display: flex;
        width: 40px;
        height: 40px;
    }

    .posts-container {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}






