/* Style for category-menu */
.category-menu {
 display: flex;
 position: fixed;
 top: 11.5vh;
 left: 5vw;
}

.category-menu ul {
 list-style: none;
 display: flex;
 flex-direction: column;
 width: auto;
}

.category-menu ul li {
 display: flex; 
}

.category-menu ul li img {
 width: 20px;
 height: 20px;
}

.navLink {
 text-decoration: none;
 font-size: large;
 font-weight: bold;
 width: 100%;
 border-radius: 15px;
 padding: 10px 5px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 color: white;
 margin-bottom: 5px;
 display: flex;
 justify-content: start;
 align-items: center;
 column-gap: 10px;
}

.navLink:hover {
 background-color: transparent;
 background-color: #cbd5f50e;
}


.navLinkHome {
 margin-bottom: 30px;
 color: white;
 background-color: transparent;
 background-color: #cbd5f50e;
}

.categoriesSeparator {
 background-color: #cbd5f53d;
 height: 0.1px;
 border: none;
 cursor: none;
 width: 100%;
 margin: 5px 0;
}

/* Style for smaller devices */
@media screen and (max-width: 800px) {

  .category-menu ul li img {
     width: 10px;
     height: 10px;
 }
 
 .navLink {
     font-size: small;
     width: 155px;
     padding: 8px 3px;
 }
 
 .navLinkHome {
     margin-bottom: 20px;
 }
 
 .categoriesSeparator {
     width: 100%;
 }
}

@media screen and (max-width: 720px) {

 .category-menu {
    display: none;
    z-index: 1000;
    height: auto;
    background-color: #0A192F;
 }

 .open {
    display: flex;
    padding: 0;
 }

 .category-menu  {
    left: 5vw;
    top: 70px;
 }

}