/* Style for home component */
.home {
 display: flex;
 flex-direction: column;
 row-gap: 1vh;
}

.home .home__item {
 display: flex;
 flex-direction: column;
 row-gap: 10px;
 cursor: pointer;
 padding: 20px;
 border-radius: 20px;
}

.home .home__item:hover{
 background-color: #cbd5f50e;
}

.home__item .home__item-author {
 display: flex;
 align-items: center;
 justify-content: start;
 font-size: medium;
}

.home__item .home__item-author span {
 color: #fff;
 margin-right: 10px;
 max-width: 50%;
 display: flex;
}

.home__item .home__item-author .icon {
 width: 5px;
 margin-right: 5px;
 max-width: 10%;
}

.home__item .home__item-author p {
 color: #cbd5f53d;
 display: flex;
 max-width: 30%;
}

.home__item-title {
 display: flex;
 justify-content: start;
 color: #fff;
 font-weight: bold;
 font-size: 20px;
 text-align: start;
}

.home__item-description {
 color: #ffffff9f;
 text-align: start;
}

.home__item-media {
 text-align: center;
}

.home__item-media img, .home__item-media video {
 width: 100%;
 border: 1px solid #cbd5f53d;
 border-radius: 20px;
 max-width: 40vh;
}

.home__item-interactions {
 display: flex;
 column-gap: 20px;
}

.home__item-interactions div {
 display: flex;
 column-gap: 5px;
 background-color: #cbd5f50e;
 padding: 5px 10px;
 border-radius: 20px;
 color: #ffffffc0;
}

/* Style for smaller devices */
@media screen and (max-width: 800px) {

 .home__item .home__item-author {
  font-size: small;
 }

 .home__item .home__item-author span {
  margin-right: 8px;
 }

 .home__item .home__item-author .icon {
  margin-right: 4px;
 }

 .home__item-title {
  font-size: 18px;
 }

}








